
.hero{
    position: absolute;
    top: 90px;
}
.hero-text{
    color: #ffffff;
    font-size: 70px;
    font-weight: 1000;
    line-height: 50px;
    font-family: Poppins;
    margin-left: 150px;
    margin-top: 200px;
}

.hero-explore{
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    margin-left: 150px;
    border-radius: 60px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.hero-explore p{
    color: green;
    font-size: 20px;
    
    font-weight: 500;
}

.hero-dot-play{
    margin-top: 120px;
    margin-left: 120px;
    display:flex;
    justify-content: space-between;
    width: 1200px;
}

.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: rgb(103, 95, 95);
    cursor: pointer;
    border-radius: 7.5px;
  
}
.hero-dot.orange{
    background: red;

}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-play p{
    color: white;
}
