.home{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins';
   
}
.about{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins';
   
}
